<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="HandheldFriendly" content="True" />
  <link rel="icon" href="/assets/logo.png">
</head>
<body style="font-family: Arial, Helvetica, sans-serif;color: rgba(0,0,0,.9);">
<div style="display: flex; flex-direction: column; justify-content: space-between; height: 350px; padding: 20px; box-sizing: border-box;">
  <header>
    <div style="text-align: center;">
      <svg width="300" height="100" viewBox="0 0 300 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="300" height="100" rx="20" fill="url(#paint0_linear_43_30)"/>
        <path d="M98.7642 10H87.626H86.5122L118.813 35.5556L151.114 10H138.862L118.813 27.2222L98.7642 10Z" fill="#FFFBFF"/>
        <path d="M60.2149 26.9889V75.5556H48.8539V55.0222H29.0724V75.5556H17.7115V26.9889H29.0724V47.2889H48.8539V26.9889H60.2149ZM117.444 51.2556C117.444 54.7667 116.831 58.0334 115.606 61.0556C114.403 64.0778 112.699 66.7111 110.493 68.9556C108.288 71.1778 105.626 72.9222 102.507 74.1889C99.4109 75.4556 95.9692 76.0889 92.1822 76.0889C88.3952 76.0889 84.9424 75.4556 81.8237 74.1889C78.705 72.9222 76.0318 71.1778 73.8041 68.9556C71.5988 66.7111 69.8835 64.0778 68.6583 61.0556C67.4554 58.0334 66.8539 54.7667 66.8539 51.2556C66.8539 47.7445 67.4554 44.4778 68.6583 41.4556C69.8835 38.4333 71.5988 35.8111 73.8041 33.5889C76.0318 31.3667 78.705 29.6222 81.8237 28.3556C84.9424 27.0889 88.3952 26.4556 92.1822 26.4556C95.9692 26.4556 99.4109 27.1 102.507 28.3889C105.626 29.6556 108.288 31.4 110.493 33.6222C112.699 35.8445 114.403 38.4667 115.606 41.4889C116.831 44.5111 117.444 47.7667 117.444 51.2556ZM105.882 51.2556C105.882 48.8556 105.57 46.7 104.947 44.7889C104.323 42.8556 103.421 41.2222 102.24 39.8889C101.082 38.5556 99.6559 37.5333 97.9629 36.8222C96.2699 36.1111 94.343 35.7556 92.1822 35.7556C89.9991 35.7556 88.0499 36.1111 86.3346 36.8222C84.6416 37.5333 83.2048 38.5556 82.0242 39.8889C80.8658 41.2222 79.9747 42.8556 79.351 44.7889C78.7272 46.7 78.4154 48.8556 78.4154 51.2556C78.4154 53.6778 78.7272 55.8556 79.351 57.7889C79.9747 59.7 80.8658 61.3222 82.0242 62.6556C83.2048 63.9889 84.6416 65.0111 86.3346 65.7222C88.0499 66.4111 89.9991 66.7556 92.1822 66.7556C94.343 66.7556 96.2699 66.4111 97.9629 65.7222C99.6559 65.0111 101.082 63.9889 102.24 62.6556C103.421 61.3222 104.323 59.7 104.947 57.7889C105.57 55.8556 105.882 53.6778 105.882 51.2556ZM171.873 51.2556C171.873 54.7667 171.261 58.0334 170.035 61.0556C168.832 64.0778 167.128 66.7111 164.923 68.9556C162.718 71.1778 160.056 72.9222 156.937 74.1889C153.84 75.4556 150.399 76.0889 146.612 76.0889C142.825 76.0889 139.372 75.4556 136.253 74.1889C133.134 72.9222 130.461 71.1778 128.234 68.9556C126.028 66.7111 124.313 64.0778 123.088 61.0556C121.885 58.0334 121.283 54.7667 121.283 51.2556C121.283 47.7445 121.885 44.4778 123.088 41.4556C124.313 38.4333 126.028 35.8111 128.234 33.5889C130.461 31.3667 133.134 29.6222 136.253 28.3556C139.372 27.0889 142.825 26.4556 146.612 26.4556C150.399 26.4556 153.84 27.1 156.937 28.3889C160.056 29.6556 162.718 31.4 164.923 33.6222C167.128 35.8445 168.832 38.4667 170.035 41.4889C171.261 44.5111 171.873 47.7667 171.873 51.2556ZM160.312 51.2556C160.312 48.8556 160 46.7 159.376 44.7889C158.752 42.8556 157.85 41.2222 156.67 39.8889C155.511 38.5556 154.085 37.5333 152.392 36.8222C150.699 36.1111 148.773 35.7556 146.612 35.7556C144.429 35.7556 142.479 36.1111 140.764 36.8222C139.071 37.5333 137.634 38.5556 136.454 39.8889C135.295 41.2222 134.404 42.8556 133.781 44.7889C133.157 46.7 132.845 48.8556 132.845 51.2556C132.845 53.6778 133.157 55.8556 133.781 57.7889C134.404 59.7 135.295 61.3222 136.454 62.6556C137.634 63.9889 139.071 65.0111 140.764 65.7222C142.479 66.4111 144.429 66.7556 146.612 66.7556C148.773 66.7556 150.699 66.4111 152.392 65.7222C154.085 65.0111 155.511 63.9889 156.67 62.6556C157.85 61.3222 158.752 59.7 159.376 57.7889C160 55.8556 160.312 53.6778 160.312 51.2556ZM212.058 31.0556C212.058 31.6333 211.957 32.2 211.757 32.7556C211.579 33.3111 211.323 33.8333 210.988 34.3222L188.133 66.8889H211.323V75.5556H173.764V71.2222C173.764 70.7111 173.854 70.2111 174.032 69.7222C174.21 69.2111 174.455 68.7445 174.767 68.3222L197.689 35.6556H175.636V26.9889H212.058V31.0556ZM229.626 75.5556H218.265V26.9889H229.626V75.5556ZM281.521 26.9889V75.5556H275.64C274.771 75.5556 274.036 75.4222 273.435 75.1556C272.856 74.8667 272.276 74.3778 271.697 73.6889L248.741 44.7222C248.83 45.5889 248.886 46.4333 248.908 47.2556C248.953 48.0556 248.975 48.8111 248.975 49.5222V75.5556H239.018V26.9889H244.965C245.456 26.9889 245.868 27.0111 246.202 27.0556C246.536 27.1 246.837 27.1889 247.104 27.3222C247.371 27.4333 247.628 27.6 247.873 27.8222C248.118 28.0445 248.396 28.3445 248.708 28.7222L271.864 57.8889C271.753 56.9556 271.675 56.0556 271.63 55.1889C271.586 54.3 271.564 53.4667 271.564 52.6889V26.9889H281.521Z" fill="#FFFBFF"/>
        <path d="M118.813 66.6667L111.016 76.1111L118.813 85.5555L126.61 76.1111L118.813 66.6667Z" fill="#FFFBFF"/>
        <path d="M139.976 55.5555C142.436 55.5555 144.431 53.5657 144.431 51.1111C144.431 48.6565 142.436 46.6667 139.976 46.6667C137.515 46.6667 135.52 48.6565 135.52 51.1111C135.52 53.5657 137.515 55.5555 139.976 55.5555Z" fill="#FFFBFF"/>
        <path d="M85.3984 55.5555C87.859 55.5555 89.8537 53.5657 89.8537 51.1111C89.8537 48.6565 87.859 46.6667 85.3984 46.6667C82.9378 46.6667 80.9431 48.6565 80.9431 51.1111C80.9431 53.5657 82.9378 55.5555 85.3984 55.5555Z" fill="#FFFBFF"/>
        <defs>
          <linearGradient id="paint0_linear_43_30" x1="300" y1="0" x2="291.406" y2="120.741" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FF9F1D"/>
            <stop offset="1" stop-color="#EC6200"/>
          </linearGradient>
        </defs>
      </svg>

    </div>
  </header>
  <main style="display: flex; align-items: center; flex-direction: column;">
    <div style="font-size: 2.3rem;">Welcome to Hoozin!</div>
    <p style="font-size: 1.3rem;">Please click below to confirm your email address.</p>
  </main>
  <footer style="text-align: center;">
    <a href="{{ confirmationLink }}" style="text-decoration: none; font-weight: bold; color: #fff; background: #FF9F1D; display: inline-block; width: 250px; height: 40px; border-radius: 7px; line-height: 40px;">Confirm Email</a>
  </footer>
</div>
</body>
</html>
